<div class="card">
  <!-- <div class="card-header">
        Header
    </div> -->
  <div class="card-block">
    <!-- <div class="card-title">
            Block
        </div> -->
    <div class="card-text">
      <app-satellite-settings *ngIf="!initInProgress" #satelliteSettings></app-satellite-settings>
      <clr-spinner *ngIf="initInProgress">
        Starting Processes
      </clr-spinner>
    </div>
    <br>
  </div>
  <div class="card-footer">
    <button class="btn btn-outline" (click)="saveAndRestart()">
      <clr-icon shape="floppy"></clr-icon>
      Save settings & restart services
    </button>
  </div>
</div>

<!-- <div class="buttons-footer">
</div> -->