<div class="card">
  <!-- <div class="card-header">
        Header
    </div> -->
  <div class="card-block">
    <!-- <div class="card-title">
            Block
        </div> -->
    <div class="card-text">
      <app-satellite-settings #satelliteSettings></app-satellite-settings>
    </div>
    <br>
  </div>
  <div class="card-footer">
    <button [attr.disabled]="restartInProgress?true:null" class="btn btn-outline" (click)="saveAndRestart()">
      <clr-icon *ngIf="!restartInProgress" shape="floppy"></clr-icon>
      <clr-spinner *ngIf="restartInProgress" [clrInline]="true" [clrSmall]="true"></clr-spinner>
      Save settings & restart services
    </button>
  </div>
</div>

<!-- <div class="buttons-footer">
</div> -->