<!-- <div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
</div> -->


<div class="main-container" *ngIf="!wizardOpen">
    <div class="alert alert-app-level">
        <!-- ... -->
    </div>
    <header class="header-6">
        <div class="branding">
            <a href="javascript://" class="nav-link">SciDAP Satellite</a>
        </div>
        <div class="header-nav">
            <a [routerLink]="[ '/home/dashboard' ]" routerLinkActive="active" class="nav-link nav-text">Dashboard</a>
            <a [routerLink]="[ '/home/settings' ]" routerLinkActive="active" class="nav-link nav-text">Settings</a>
        </div>
        <div class="header-actions">
            <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
                <clr-icon shape="cog"></clr-icon>
            </a>
        </div>
    </header>
    <!-- <nav class="subnav">
      zz
  </nav> -->
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>

        </div>
        <!-- <nav class="sidenav">
          ...
      </nav> -->
    </div>
</div>




<clr-wizard #wizard [(clrWizardOpen)]="wizardOpen" [clrWizardClosable]="false" [clrWizardPreventDefaultNext]="true" [clrWizardDisableStepnav]="true">

    <clr-wizard-title>Installing SciDAP Satellite</clr-wizard-title>

    <!-- <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button> -->

    <clr-wizard-page (clrWizardPageCustomButton)="doLoginOrRegister($event)">
        <ng-template clrPageTitle>Welcome</ng-template>

        <ng-template clrPageButtons>
            <clr-wizard-button [type]="'login'">Begin</clr-wizard-button>
            <!-- <clr-wizard-button [type]="'new-user'">New User</clr-wizard-button> -->
        </ng-template>

    </clr-wizard-page>

    <clr-wizard-page (clrWizardPageCustomButton)="doLogin()">
        <ng-template clrPageTitle>Login to SciDAP</ng-template>
        <app-login [(message)]="loginData">
            <div error-message *ngIf="errorMessage" class="error active">
                {{errorMessage}}
            </div>
        </app-login>
        <ng-template clrPageButtons>
            <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
            <clr-wizard-button [type]="'login'">Login</clr-wizard-button>
        </ng-template>
    </clr-wizard-page>

    <clr-wizard-page (clrWizardPageCustomButton)="doAgree($event)">
        <ng-template clrPageTitle>Assign personal satellite</ng-template>

        <div *ngIf="satIdAssigned">
            <div class="alert alert-warning" role="alert">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
                        </div>
                        <span class="alert-text">There is a satellite already assigned to you. If you continue your current satellite will be reassigned with personal.</span>
                    </div>
                </div>
                <button type="button" class="close" aria-label="Close">
                    <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </button>
            </div>
            <h3> Setup wizard is going to assign personal satellite for you. </h3>
        </div>
        <ng-template clrPageButtons>
            <clr-wizard-button [type]="'quit'">quit</clr-wizard-button>
            <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
            <clr-wizard-button [type]="'agree'">Agree</clr-wizard-button>
        </ng-template>
    </clr-wizard-page>

    <clr-wizard-page #settings (clrWizardPageCustomButton)="doSettings()">
        <ng-template clrPageTitle>Settings</ng-template>
        <app-satellite-settings *ngIf="!initInProgress" #satelliteSettings></app-satellite-settings>
        <clr-spinner *ngIf="initInProgress">
            Starting Processes
        </clr-spinner>

        <ng-template clrPageButtons>
            <clr-wizard-button [type]="'complete'">Finish</clr-wizard-button>
        </ng-template>
    </clr-wizard-page>
</clr-wizard>